<a href="https://colab.research.google.com/github/JoanWaweru/AI-ML-Group-Task/blob/main/Linear_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from scipy import stats
import matplotlib.pyplot as plt
from numpy import random
import pandas as pd

In [2]:
size=100

In [3]:
fake_data={'Office Size':random.normal(500,50,size), 'Office Price':random.normal(5000,500,size)}

In [4]:
table=pd.DataFrame(fake_data)

In [5]:
table

    Office Size  Office Price
0    551.331241   4516.520733
1    491.006693   4466.341975
2    497.655739   5309.990549
3    513.061221   5227.350498
4    527.010490   4775.437679
..          ...           ...
95   498.766507   6110.091104
96   488.283188   4856.612190
97   474.611709   5101.662513
98   506.589403   4094.840024
99   476.005580   5648.551326

[100 rows x 2 columns]

In [6]:
m=10
c=0.5

In [7]:
def y (row):
  return ((row['Office Size']*m)+c)

In [23]:
#y

In [8]:
table['y'] = table.apply (lambda row: y(row), axis=1)

In [9]:
table

    Office Size  Office Price            y
0    551.331241   4516.520733  5513.812412
1    491.006693   4466.341975  4910.566935
2    497.655739   5309.990549  4977.057390
3    513.061221   5227.350498  5131.112208
4    527.010490   4775.437679  5270.604898
..          ...           ...          ...
95   498.766507   6110.091104  4988.165068
96   488.283188   4856.612190  4883.331885
97   474.611709   5101.662513  4746.617087
98   506.589403   4094.840024  5066.394029
99   476.005580   5648.551326  4760.555800

[100 rows x 3 columns]

In [10]:
def z (row):
  return (row['Office Size']-row['y'])**2

In [11]:
table['Mean Squares'] = table.apply (lambda row: z(row), axis=1)

In [12]:
table

    Office Size  Office Price            y  Mean Squares
0    551.331241   4516.520733  5513.812412  2.462622e+07
1    491.006693   4466.341975  4910.566935  1.953251e+07
2    497.655739   5309.990549  4977.057390  2.006504e+07
3    513.061221   5227.350498  5131.112208  2.132639e+07
4    527.010490   4775.437679  5270.604898  2.250169e+07
..          ...           ...          ...           ...
95   498.766507   6110.091104  4988.165068  2.015470e+07
96   488.283188   4856.612190  4883.331885  1.931645e+07
97   474.611709   5101.662513  4746.617087  1.825003e+07
98   506.589403   4094.840024  5066.394029  2.079182e+07
99   476.005580   5648.551326  4760.555800  1.835737e+07

[100 rows x 4 columns]

In [13]:
meanSquareError = (table['Mean Squares'].sum())/size

In [14]:
meanSquareError

20646166.060189534

In [15]:
learningRate=0.01

In [16]:
x=1

In [17]:
newM = (m-(-2/size)*x*table['Mean Squares'].sum())

In [18]:
newM

41292342.12037907

In [19]:
newC = (c-(-2/size)*table['Mean Squares'].sum())

In [20]:
newC

41292332.62037907

In [31]:
y = fake_data['Office Size'] * m + c
plt.scatter(fake_data['Office Size'],fake_data['y'])
plt.plot(fake_data['Office Size'], fake_data['y'], "Pink")

KeyError: ignored